.hero{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), #333), url(red.avif);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

h2{
  font-size: 2.5rem;
}

form{
  width: 100%;
  max-width: 600px;
}

input{
  margin-bottom: 25px;
} 



input, textarea{
  color: white;
  width: 95%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 15px;
}

label{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
}

button{
  padding: 20px 30px;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 15px;
}

button:active{
  transform: scale(0.96);
}

@media only screen and (max-width: 900px){
  h2{
    font-size: 2rem;
  }
  .hero{
    padding: 20px;
  }
  input, textarea{
    width: 80%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 15px;
  }
  
}
